<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ColorMode" value="Auto" />
    <add key="Animation" value="True" />
    <add key="ShadowEnabled" value="True" />
    <add key="ScrollBarHide" value="False" />
    <add key="ShowInWindow" value="True" />
    <add key="ShowOffset" value="0" />
  </appSettings>
</configuration>